{% extends 'base_black.html' %}
{% load static %}
{% block nav_bg %}

<div class="page-header-1-figure m-parallax">
    {% if num == '1'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-1-363x260.png' %});"></div>
    {% elif num == '2'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-2-363x260.png' %});"></div>
    {% elif num == '3'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-3-363x260.png' %});"></div>
    {% elif num == '4'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-4-363x260.png' %});"></div>
    {% elif num == '5'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-5-363x260.png' %});"></div>
    {% elif num == '6'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-6-363x260.png' %});"></div>
    {% elif num == '7'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-7-363x260.png' %});"></div>
    {% elif num == '8'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-8-363x260.png' %});"></div>
    {% elif num == '9'%}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-9-363x260.png' %});"></div>
    {% else %}
    <div class="page-header-1-image m-parallax-image"
        style="background-image: url({% static 'content/images/destinations-9-363x260.png' %});"></div>
    {% endif %}

</div>
{% endblock nav_bg %}
{% block nav_content %}
<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-inner">
        <div class="container">
            <div class="breadcrumbs-custom-main m-parallax-content">
                <h2 class="breadcrumbs-custom-title">

                    {{content_type}}
                    {{genre_type}}
                    {{language_type}}
                    
                </h2>

                {% if content_type == 'Short Film'%}
                    <p>Experience compelling storytelling in a short yet powerful format. Our short films cover various genres, from drama and thriller to romance and sci-fi, delivering entertainment that leaves a lasting impact.</p>
                    {% elif content_type == 'Podcast'%}
                    <p>Dive into thought-provoking discussions, insightful interviews, and captivating stories through our diverse range of podcasts. Whether it's personal growth, tech trends, or storytelling, there's something for everyone.</p>
                    {% elif content_type == 'Documentary'%}
                    <p>Explore real-world issues, inspiring stories, and deep investigations through our documentaries. Gain knowledge, perspective, and awareness about important topics that shape our world.</p>
                    {% elif content_type == 'Entertainment Project'%}
                    <p>Laughter, fun, and excitement—our entertainment section is packed with engaging content, including comedy sketches, viral challenges, and feel-good moments that brighten your day.</p>
                    {% elif content_type == 'Animation'%}
                    <p>Immerse yourself in the world of animated creativity, where stunning visuals meet engaging narratives. From fun cartoons to deep artistic expressions, animation brings ideas to life in a unique way.</p>
                    {% elif content_type == 'Interviews'%}
                    <p>Get up close and personal with creators, industry leaders, and influencers. Our interviews offer exclusive insights, expert opinions, and inspiring journeys that motivate and educate.</p>
                    {% elif content_type == 'Education'%}
                    <p>Get up close and personal with creators, industry leaders, and influencers. Our interviews offer exclusive insights, expert opinions, and inspiring journeys that motivate and educate.</p>
                    {% elif content_type == 'Music'%}
                    <p>Discover fresh beats, soulful melodies, and emerging artists in our music section. From independent musicians to trending hits, enjoy high-quality music that suits your vibe.</p>
                    {% elif content_type == 'Web Series'%}
                    <p>Immerse yourself in captivating web series, from thrilling dramas to heartwarming stories. Watch, explore, and enjoy exclusive content on EchoesRipple!</p>
                    {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock nav_content %}
{% block content %}

<section class="section section-lg bg-default">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="100">
            <h2>Popular {% if content_type == 'short_film'%}
                Short Film
                {% elif content_type == 'podcast'%}
                Podcast
                {% elif content_type == 'documentary'%}
                Documentary
                {% elif content_type == 'entertainment'%}
                Entertainment Project
                {% endif %}</h2>
        </div>
        <div class="owl-carousel owl-theme-1 wow fadeIn" data-items="1" data-sm-items="2" data-md-items="3"
            data-lg-items="3" data-xl-items="3" data-xxl-items="3" data-margin="15px" data-xxl-margin="40px"
            data-nav="true" data-dots="false" data-autoplay="true" data-wow-delay="100">
            {% for item in contents %}
            <div class="item">
                <div class="box-nina">
                    <div class="box-nina-media"><img src="{{ item.thumbnail.url }}" alt="" width="356"
                            height="412" />
                    </div>
                    <div class="box-nina-text">
                        <h4><a class="link-white" href="{% url 'content_detail' pk=item.pk %}">{{ item.title }}</a></h4>
                        <div class="box-nina-info"><span class="icon mdi mdi-calendar-today"></span><span>2019,
                                Adventures</span></div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No blogs available.</p>
            {% endfor %}    
        
        </div>

    </div>
</section>

{% endblock %}