{% extends 'base_black.html' %}
{% load static %}
{% block title %}

Content | EchoesRipple | Empowering Creators to Share & Earn

{% endblock title %}
{% block nav_bg %}
<div class="page-header-1-figure m-parallax">
    <div class="page-header-1-image m-parallax-image" style="background-image: url({{content.thumbnail.url}});"></div>
</div>
{% endblock nav_bg %}
{% block nav_content %}
<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-inner">
        <div class="container">
            <div class="breadcrumbs-custom-main m-parallax-content"
                style="background: #0303036b;padding: 10px;border-radius: 10px;">
                <h2 class="breadcrumbs-custom-title">{{content.title}}</h2>
                <p>{{content.description}}</p>
                <div class="group group-sm group-middle"><a
                        class="button button-sm button-icon button-icon-left button-light"
                        href="{% url 'content_display' pk=content.pk %}"><span class="icon mdi mdi-play"></span>Watch
                        Now</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock nav_content %}
{% block content %}
<section class="section section-lg bg-color-7">
    <div class="container">
        <div class="row row-30 flex-column-reverse flex-lg-row">
            <div class="col-lg-8">
                <article class="post-info inset-1">
                    <h4 class="post-info-title">{{content.title}}</h4>
                    <div class="post-info-meta">
                        <ul class="post-info-meta-list">
                            <li><span class="icon mdi mdi-clock"></span><span class="small-text font-weight-sbold">{{
                                    content.duration|default:"Not Mentioned" }}</span></li>
                            <li><span class="icon mdi mdi-star-outline"></span><span
                                    class="small-text font-weight-sbold">{{ content.average_rating }}</span></li>
                            <li><span class="icon mdi mdi-earth"></span><span class="small-text font-weight-sbold">{{
                                    content.country|default:"Not Mentioned" }}</span></li>
                        </ul>
                    </div>
                    <p>{{content.description}}</p>
                    <table class="post-info-table">
                        <tr>
                            <td>Сountry</td>
                            <td>{{ content.country|default:"Not Mentioned" }}</td>
                        </tr>
                        <tr>
                            <td>Cast</td>
                            <td>{{ content.cast|default:"Not Mentioned" }}</td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>{{ content.duration|default:"Not Mentioned" }}</td>
                        </tr>
                        <tr>
                            <td>Genre</td>
                            <td>{{ content.genre|default:"Not Mentioned" }}</td>
                        </tr>
                        <tr>
                            <td>Premium Content</td>
                            {% if content.is_premium %}
                            <td>Yes</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                        </tr>


                    </table>
                    <a class="button button-lg button-primary mt-lg-40"
                        href="{% url 'creator-profile' content.uploaded_by %}">View Profile</a>

                </article>
            </div>
            <div class="col-lg-4 text-center text-lg-left">
                <div class="movie-page-imageg"><img src="{{content.thumbnail.url}}" alt="image..." width="375"
                        height="491" />
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}