[Unit]
Description=Gunicorn instance to serve EchoesRipple
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/myproject/myproject/Productions
ExecStart=/opt/myproject/bin/gunicorn --timeout 600 --workers 3 --bind unix:/opt/myproject/myproject/Productions/gunicorn.sock production_site.wsgi:application

[Install]
WantedBy=multi-user.target

