{% extends 'base_black.html' %}
{% load static %}
{% block nav_bg %}
<div class="page-header-1-figure m-parallax">
    <div class="page-header-1-image m-parallax-image" style="background-image: url({% static 'images/bg.png' %});"></div>
</div>
{% endblock nav_bg %}
{% block nav_content %}
<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-inner">
        <div class="container">
            <div class="breadcrumbs-custom-main m-parallax-content">
                <h2 class="breadcrumbs-custom-title">Got questions?</h2>
                <p> Find quick answers to the most common queries about EchoesRipple here! Need more help? Feel free to contact us anytime! 🚀</p>
            </div>
        </div>
    </div>
</section>
{% endblock nav_content %}
{% block content %}
<section class="section section-lg bg-default">
    <div class="container">
        <h3 class="text-center">FAQ</h3>
        <!-- Bootstrap collapse-->
        <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link" id="accordion1-card-head-00" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-00" aria-controls="accordion1-card-body-00" aria-expanded="true" role="button">What is EchoesRipple?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse show" id="accordion1-card-body-00" aria-labelledby="accordion1-card-head-00" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>Echoesripple is a platform that supports Budding Artists,  students and professionals filmmakers/ content creators to release & monetize their short film / web series / music album  / documentary and video content.</p>
                    </div>
                </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link" id="accordion1-card-head-9" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-9" aria-controls="accordion1-card-body-9" aria-expanded="true" role="button">How long does my content stay on the site for?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse show" id="accordion1-card-body-9" aria-labelledby="accordion1-card-head-9" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>It will always be available on the site for life long. Creators can ask for the content to be removed at any time. Featured picks will be seen on the homepage main banner for 1-2 days, where as Daily Picks will get between 1/2 – 1 day featured spot, and then trickle down the homepage as the days go by and new features come in.</p>
                    </div>
                </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-0" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-0" aria-controls="accordion1-card-body-0" aria-expanded="false" role="button"> How can I earn money on EchoesRipple?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-0" aria-labelledby="accordion1-card-head-0" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>You earn money through ad revenue, sponsorships, and user support. Once your earnings reach $10, you can request a withdrawal.</p>
                    </div>
                </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-1" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-1" aria-controls="accordion1-card-body-1" aria-expanded="false" role="button">Is it free to upload content?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-1" aria-labelledby="accordion1-card-head-1" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>Yes! Uploading your content on EchoesRipple is completely free.</p>
                    </div>
                </div>
            </article>
            <!-- Bootstrap card-->
            <!-- <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-2" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-2" aria-controls="accordion1-card-body-2" aria-expanded="false" role="button">How long will my order take to be delivered?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-2" aria-labelledby="accordion1-card-head-2" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>Delivery times will depend on your location. Once payment is confirmed your order will be packaged. Delivery can be expected within a day.</p>
                    </div>
                </div>
            </article> -->
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-3" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-3" aria-controls="accordion1-card-body-3" aria-expanded="false" role="button">What type of content can I upload?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-3" aria-labelledby="accordion1-card-head-3" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>You can upload short films, podcasts, documentaries, web series, and other creative media, as long as it follows our content guidelines.</p>
                    </div>
                </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-4" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-4" aria-controls="accordion1-card-body-4" aria-expanded="false" role="button">How do I withdraw my earnings?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-4" aria-labelledby="accordion1-card-head-4" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>Once you reach the minimum withdrawal amount of $10, you can request a payout via Stripe or Adyen from your dashboard.</p>
                    </div>
                </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-5" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-5" aria-controls="accordion1-card-body-5" aria-expanded="false" role="button">Can I collaborate with other creators?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-5" aria-labelledby="accordion1-card-head-5" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>Yes! EchoesRipple allows you to connect with other creators for collaborations and joint projects.</p>
                    </div>
                </div>
            </article>
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-6" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-6" aria-controls="accordion1-card-body-6" aria-expanded="false" role="button">How do I contact support?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-6" aria-labelledby="accordion1-card-head-6" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>You can reach out to our support team through the Contact Us page for any assistance.</p>
                    </div>
                </div>
            </article>
            <!-- <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-7" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-7" aria-controls="accordion1-card-body-7" aria-expanded="false" role="button">Can I collaborate with other creators?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-7" aria-labelledby="accordion1-card-head-7" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>Yes! EchoesRipple allows you to connect with other creators for collaborations and joint projects.</p>
                    </div>
                </div>
            </article> -->
            <article class="card card-custom card-corporate">
                <div class="card-header" role="tab">
                    <div class="card-title"><a class="card-link collapsed" id="accordion1-card-head-9" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-9" aria-controls="accordion1-card-body-9" aria-expanded="false" role="button">Is my content protected on EchoesRipple?
            <div class="card-arrow"></div></a></div>
                </div>
                <div class="collapse" id="accordion1-card-body-9" aria-labelledby="accordion1-card-head-9" data-parent="#accordion1" role="tabpanel">
                    <div class="card-body">
                        <p>Yes, your content remains your intellectual property. We provide tools to help protect and manage your work.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}
