{% load static %}
<!-- Page Footer-->

<footer class="section footer-modern context-dark">
    <div class="footer-modern-main">
        <div class="container">
            <div class="row row-30 justify-content-lg-between">
                <div class="col-sm-4 col-md-2 col-lg-2">
                    <p class="footer-modern-title">Useful Links</p>
                    <div class="footer-modern-item-block">
                        <ul class="list list-1">
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'blog_list' %}">Blog</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'collaborate' %}">Collaborate</a></li>
                            <li><a href="{% url 'support-team' %}">Connect with Team</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <p class="footer-modern-title">Categories</p>
                    <div class="footer-modern-item-block" style="max-width: 300px;">
                        <div class="row row-13">
                            <div class="col-6">
                                <ul class="list list-1">
                                    <li><a href="{% url 'category' 'short_film' %}">Short Films</a></li>
                                    <li><a href="{% url 'category' 'podcast' %}">Podcast</a></li>
                                    <li><a href="{% url 'category' 'documentary' %}">Documentary</a></li>
                                    <li><a href="{% url 'category' 'entertainment' %}">Entertainment Project</a></li>
                                    <li><a href="{% url 'category' 'short_series' %}">Short Series</a></li>
                                    <li><a href="{% url 'category' 'drama' %}">Drama</a></li>
                                    <li><a href="{% url 'category' 'shorts' %}">Shorts</a></li>
                                    <li><a href="{% url 'category' 'stand_up' %}">Stand Up Comedy</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list list-1">
                                    <li><a href="{% url 'category' 'music' %}">Music</a></li>
                                    <li><a href="{% url 'category' 'education' %}">Education</a></li>
                                    <li><a href="{% url 'category' 'interviews' %}">Interviews</a></li>
                                    <li><a href="{% url 'category' 'animation' %}">Animation</a></li>
                                    <li><a href="{% url 'category' 'web_series' %}">Web Series</a></li>
                                    <li><a href="{% url 'category' 'web_shorts' %}">Web Shorts</a></li>
                                    <li><a href="{% url 'category' 'feature_series' %}">Feature Series</a></li>
                                    <li><a href="{% url 'language' 'Other' %}">Other</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-2">
                    <p class="footer-modern-title">Region</p>
                    <div class="footer-modern-item-block">
                        <ul class="list list-1">
                            <li><a href="{% url 'regional' 'English' %}">English</a></li>
                            <li><a href="{% url 'regional' 'Indian' %}">Indian</a></li>
                            <li><a href="{% url 'regional' 'French' %}">French</a></li>
                            <li><a href="{% url 'regional' 'Russian' %}">Russian</a></li>
                            <li><a href="{% url 'regional' 'German' %}">German</a></li>
                            <li><a href="{% url 'regional' 'Spanish' %}">Spanish</a></li>
                            <li><a href="{% url 'regional' 'Japanese' %}">Japanese</a></li>
                            <li><a href="{% url 'regional' 'Italian' %}">Italian</a></li>
                            <li><a href="{% url 'regional' 'Other' %}">Other</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-sm-3 col-lg-2">
                    <p class="footer-modern-title">Region</p>
                    <div class="footer-modern-item-block">
                        <ul class="list list-1">
                            <li><a href="{% url 'language' 'Australian' %}">Australian</a></li>
                            <li><a href="{% url 'language' 'Rassian' %}">Rassian</a></li>
                            <li><a href="{% url 'language' 'American' %}">American</a></li>
                            <li><a href="{% url 'language' 'Indian' %}">Indian</a></li>
                            <li><a href="{% url 'language' 'Other' %}">Other</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-sm-3 col-lg-2">
                    <p class="footer-modern-title">Genre</p>
                    <div class="footer-modern-item-block">
                        <div class="row row-13">
                            <div class="col-6">
                                <ul class="list list-1">
                                    <li><a href="{% url 'genre' 'Comedy' %}">Comedy</a></li>
                                    <li><a href="{% url 'genre' 'Action' %}">Action</a></li>
                                    <li><a href="{% url 'genre' 'Romantic' %}">Romantic</a></li>
                                    <li><a href="{% url 'genre' 'Thriller' %}">Thriller</a></li>
                                    <li><a href="{% url 'genre' 'Horror' %}">Horror</a></li>
                                    <li><a href="{% url 'genre' 'Mystery' %}">Mystery</a></li>
                                    <li><a href="{% url 'genre' 'Friction' %}">Friction</a></li>
                                    <li><a href="{% url 'genre' 'Creatives' %}">Creatives</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list list-1">
                                    <li><a href="{% url 'genre' 'Fantasy' %}">Fantasy</a></li>
                                    <li><a href="{% url 'genre' 'Health' %}">Health</a></li>
                                    <li><a href="{% url 'genre' 'Epic' %}">Epic</a></li>
                                    <li><a href="{% url 'genre' 'History' %}">History</a></li>
                                    <li><a href="{% url 'genre' 'Poem' %}">Poem</a></li>
                                    <li><a href="{% url 'genre' 'Stories' %}">Stories</a></li>
                                    <li><a href="{% url 'genre' 'Magic' %}">Magic</a></li>
                                    <li><a href="{% url 'language' 'Other' %}">Other</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <p class="footer-modern-title">Get in Touch</p>
                    <div class="footer-modern-item-block">
                        <ul class="list list-1">
                            <li><a href="{% url 'feedback' %}">Feedback</a></li>
                            <li><a href="{% url 'privacy' %}">Privacy-policy</a></li>
                            <li><a href="{% url 'terms' %}">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-16 col-lg-12">
                    <p class="footer-modern-title">WANT TO WORK WITH US?</p>
                    <div class="footer-modern-item-block">
                        <div class="row row-13">
                            <div class="col-3">
                                <ul class="list list-1">
                                    <li><a href="{% url 'collaborate' %}">Producers</a></li>
                                    <li><a href="{% url 'collaborate' %}">Writers</a></li>
                                    <li><a href="{% url 'collaborate' %}">Cinematographer’s</a></li>
                                    <li><a href="{% url 'collaborate' %}">Art Directors</a></li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul class="list list-1">
                                    <li><a href="{% url 'collaborate' %}">Sound Designers</a></li>
                                    <li><a href="{% url 'collaborate' %}">Assistant Directors</a></li>
                                    <li><a href="{% url 'collaborate' %}">Production Assistant’s</a></li>
                                    <li><a href="{% url 'collaborate' %}">Make Up</a></li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul class="list list-1">
                                    <li><a href="{% url 'collaborate' %}">Trainee</a></li>
                                    <li><a href="{% url 'collaborate' %}">Directors</a></li>
                                    <li><a href="{% url 'collaborate' %}">Editors</a></li>
                                    <li><a href="{% url 'collaborate' %}">Composers</a></li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul class="list list-1">
                                    
                                    <li><a href="{% url 'collaborate' %}">Casting Directors</a></li>
                                    <li><a href="{% url 'collaborate' %}">BTS / Still Photographer’s</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-modern-aside">
        <div class="container">
            <div class="footer-modern-aside-layout"><a class="brand" href="{% url 'home' %}"><img class="brand-logo-dark"
                        src="{% static 'images/logo-default-133x19.png' %}" alt="logo" width="133" height="19"
                        srcset="{% static 'images/logo-default-266x37.png' %} 2x" /><img class="brand-logo-light"
                        src="{% static 'images/logo-inverse-133x19.png' %}" alt="logo" width="133" height="19"
                        srcset="{% static 'images/logo-inverse-266x37.png' %} 2x" /></a>
                <p class="rights"><span>&copy;&nbsp; </span><span
                        class="copyright-year"></span><span>&nbsp;</span><span>. All rights
                        reserved.&nbsp;</span><a href="{% url 'privacy' %}">Privacy Policy</a></p>
                <div>
                    <div class="group group-sm">
                        <a class="link-1 icon mdi mdi-instagram"
                            href="https://www.instagram.com/echoesripple.productions/"></a>
                        <a class="link-1 icon mdi mdi-facebook"
                            href="https://www.facebook.com/profile.php?id=61573848801968"></a>
                        <a class="link-1 icon mdi mdi-twitter" href="https://x.com/Echoes429476"></a>
                        <a class="link-1 icon mdi mdi-linkedin"
                            href="https://www.linkedin.com/in/echoesripple-productions-7a7809353"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>